In [ ]:
!pip install fredapi

In [ ]:
!pip install python-dotenv

In [ ]:
import pandas as pd
import torch 
import matplotlib.pyplot as plt
from fredapi import Fred

In [ ]:
from dotenv import load_dotenv
import os

load_dotenv()
api_key = os.environ["API_KEY"]

In [ ]:
fred = Fred(api_key=api_key)
data = fred.get_series("NROU")
data.tail()

In [ ]:
data = pd.DataFrame(data,columns=['Rate'])
data.reset_index(inplace=True)
data.head()

In [ ]:
data.rename(columns={"index": "Date"}, inplace=True)
data.head()

In [ ]:
cutoff = int(len(data) * .8)
X_train = data[:cutoff]
X_test = data[cutoff:]

len(X_train), len(X_test)

          Date      Rate
275 2017-10-01  4.604940
276 2018-01-01  4.596785
277 2018-04-01  4.588244
278 2018-07-01  4.579183
279 2018-10-01  4.569488
..         ...       ...
339 2033-10-01  4.236570
340 2034-01-01  4.230920
341 2034-04-01  4.225190
342 2034-07-01  4.219381
343 2034-10-01  4.213503

[69 rows x 2 columns]

In [86]:
import torch.nn as nn
class LinearRegressionModel(nn.Module):
    def __init__(self):
        super().__init__()
        self.linear_layer = nn.Linear(in_features=1, out_features=1)

    def forward(self,x: torch.Tensor) -> torch.Tensor:
        return self.linear_layer(x)

In [87]:
model0 = LinearRegressionModel()

loss_fn = nn.L1Loss()

optimizer = torch.optim.SGD(model0.parameters(), lr=.01)

In [ ]:
def noLossFr():
    model0.train(X_train)